<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb42cd0f-93fc-4452-8a8d-b461e4c22b59" Alias="contact" Level="2">
  <Info>
    <Parent Key="04cb7a77-cb1c-44e0-bd67-51b9597d4079">home</Parent>
    <Path>/home/contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2026-03-24T15:17:32</CreateDate>
    <NodeName Default="contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d2061-7ec5-7283-b1ce-0b0e4db9019e">Contact</Template>
  </Info>
  <Properties>
    <contactDetails>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ea67314a-9581-411d-85d3-d6f367f5fc9f",
      "key": "35925c0c-e8d6-4dd7-94fe-c978661045f1",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "company",
          "value": "Fictional company"
        },
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "addressLine1",
          "value": "1000 london road"
        },
        {
          "editorAlias": "Umbraco.TextArea",
          "culture": null,
          "segment": null,
          "alias": "city",
          "value": "London"
        },
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "email",
          "value": "hello@example.com"
        },
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "phoneNumber",
          "value": "973920332"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "35925c0c-e8d6-4dd7-94fe-c978661045f1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.SingleBlock": [
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "35925c0c-e8d6-4dd7-94fe-c978661045f1",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </contactDetails>
    <contactForm>
      <Value><![CDATA[80b59d8a-2643-4f1c-b3e1-95fe09d4ce64]]></Value>
    </contactForm>
  </Properties>
</Content>