<?xml version="1.0" encoding="utf-8"?>
<Content Key="2323380d-44c8-4ab2-b792-a7ce091cb6e0" Alias="details" Level="3">
  <Info>
    <Parent Key="864f5ae3-401e-46d5-9e62-05226249b72c">Pokemon</Parent>
    <Path>/home/Pokemon/details</Path>
    <Trashed>false</Trashed>
    <ContentType>pokemonDetails</ContentType>
    <CreateDate>2026-03-21T14:10:51</CreateDate>
    <NodeName Default="details" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d012b-b778-7851-98bf-c760a17a6e40">PokemonDetails</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[details]]></Value>
    </pageTitle>
    <pokemonName>
      <Value><![CDATA[pokemon]]></Value>
    </pokemonName>
  </Properties>
</Content>