<?xml version="1.0" encoding="utf-8"?>
<Content Key="864f5ae3-401e-46d5-9e62-05226249b72c" Alias="Pokemon" Level="2">
  <Info>
    <Parent Key="04cb7a77-cb1c-44e0-bd67-51b9597d4079">home</Parent>
    <Path>/home/Pokemon</Path>
    <Trashed>false</Trashed>
    <ContentType>pokemonListing</ContentType>
    <CreateDate>2026-03-18T14:11:28</CreateDate>
    <NodeName Default="Pokemon" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d0122-02cd-7087-9938-1514ffaa8b99">PokemonListing</Template>
  </Info>
  <Properties>
    <introText>
      <Value><![CDATA[This is a list of pokemon]]></Value>
    </introText>
    <numberOfPokemon>
      <Value><![CDATA[21]]></Value>
    </numberOfPokemon>
    <pageTitle>
      <Value><![CDATA[Pokemon Listing]]></Value>
    </pageTitle>
  </Properties>
</Content>