<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fabfcbd2-d4ba-43c0-8ef2-a8b32d46c1fb" Alias="contact" Level="1">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019d2061-7ec5-7283-b1ce-0b0e4db9019e">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>225b64de-d7b4-4a18-a458-e05a4c948922</Key>
      <Name>Contact Details</Name>
      <Alias>contactDetails</Alias>
      <Definition>7c66a6f5-9569-4b75-a662-5d9ddbee1e73</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contactDetails">Contact Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29b1692a-1ea0-4758-aaad-7d3b0bac0f46</Key>
      <Name>Contact Form</Name>
      <Alias>contactForm</Alias>
      <Definition>3cdc62a0-c966-45d9-8f43-e16eb38589ec</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contactForm">Contact Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c6fbc97a-7947-499b-9e64-66bc94625087</Key>
      <Caption>Contact Details</Caption>
      <Alias>contactDetails</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d698ce4c-6ebd-48ad-883d-fefd7493eddb</Key>
      <Caption>Contact Form</Caption>
      <Alias>contactForm</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>