<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0d98e85-b5fa-4d86-99cf-288c4c953239" Alias="home" Level="1">
  <Info>
    <Name>home</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="03e9080c-5377-4f25-8009-4fa049554740">seo</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019ced0c-b96e-7f7a-9f76-e528c2c5575a">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6c6f5c40-35bb-4fc6-bf58-4d7e38c20705" SortOrder="0">pokemonListing</ContentType>
    <ContentType Key="fabfcbd2-d4ba-43c0-8ef2-a8b32d46c1fb" SortOrder="1">contact</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b53f5ab7-4078-417e-9870-2fd064a5c66a</Key>
      <Name>introText</Name>
      <Alias>introString</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A brief text introducing the website]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a19ff05c-0c7c-425a-94f5-eb6153a9edee</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title of the page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7fd9e066-795e-465c-89b3-fd1fe0add673</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>