<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3cdc62a0-c966-45d9-8f43-e16eb38589ec" Alias="Contact -  - Form Picker (Single)" Level="1">
  <Info>
    <Name>Contact -  - Form Picker (Single)</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowedForms": [
    "80b59d8a-2643-4f1c-b3e1-95fe09d4ce64"
  ]
}]]></Config>
</DataType>