<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c66a6f5-9569-4b75-a662-5d9ddbee1e73" Alias="Contact -  - Single Block" Level="1">
  <Info>
    <Name>Contact -  - Single Block</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ea67314a-9581-411d-85d3-d6f367f5fc9f"
    }
  ]
}]]></Config>
</DataType>