.mobile-nav {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.mobile-nav.open {
    transform: translateX(0);
}
#mobileMenuPanel:not(.open) {
    visibility: hidden;
}
.page-title {
    color: #ffcb05; /* Pokémon yellow */
    text-shadow:
            0.08em 0.08em 0 #2a75bb,
            -0.08em 0.08em 0 #2a75bb,
            0.08em -0.08em 0 #2a75bb,
            -0.08em -0.08em 0 #2a75bb;
    font-weight: 800;
}

/*Pokemon Cards*/
.pokemon-card {
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.pokemon-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}


/*Pokemon types*/

.type-fire {
    background-color: #f08030;
    color: white;
}

.type-water {
    background-color: #6890f0;
    color: white;
}

.type-grass {
    background-color: #78c850;
    color: white;
}

.type-electric {
    background-color: #f8d030;
    color: black;
}

.type-psychic {
    background-color: #f85888;
    color: white;
}

.type-ice {
    background-color: #98d8d8;
    color: black;
}

.type-dragon {
    background-color: #7038f8;
    color: white;
}

.type-dark {
    background-color: #705848;
    color: white;
}

.type-fairy {
    background-color: #ee99ac;
    color: black;
}

.type-poison {
    background-color: #a040a0;
    color: white;
}

.type-ground {
    background-color: #e0c068;
    color: black;
}

.type-rock {
    background-color: #b8a038;
    color: white;
}

.type-bug {
    background-color: #a8b820;
    color: white;
}

.type-flying {
    background-color: #a890f0;
    color: black;
}

.type-steel {
    background-color: #b8b8d0;
    color: black;
}

.type-ghost {
    background-color: #705898;
    color: white;
}

.type-normal {
    background-color: #a8a878;
    color: black;
}

.type-fighting {
    background-color: #c03028;
    color: white;
}

